<template name="blog">
  <!-- +++++ Posts Lists +++++ -->
  <!-- +++++ First Post +++++ -->
  <div id="grey">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Jon Snow</ba></p>
          <p><bd>January 1, 2015</bd></p>
          <h4>The Amazing Spiderman</h4>
          <p><b>Spider-Man</b> is a fictional character, a comic book superhero that appears in comic books published by Marvel Comics. Created by writer-editor Stan Lee and writer-artist Steve Ditko, he first appeared in Amazing Fantasy #15 (cover-dated Aug. 1962). </p>
          <p>Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crimefighter.</p>
          <p><a href="{{pathFor 'post'}}">Continue Reading...</a></p>
        </div>

      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /grey -->
  
  <!-- +++++ Second Post +++++ -->
  <div id="white">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Tywin Lannister</ba></p>
          <p><bd>December 25, 2014</bd></p>
          <h4>An Image Post</h4>
          <p><img class="img-responsive" src="assets/img/blog01.jpg" alt=""></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p><a href="{{pathFor 'post'}}">Continue Reading...</a></p>
        </div>

      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /white -->
  
  <!-- +++++ Third Post +++++ -->
  <div id="grey">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Petyr Baelish</ba></p>
          <p><bd>October 31, 2014</bd></p>
          <h4>Theodore Roosevelt</h4>
          <p class="bq">"Believe you can and you're half-way there."</p>
        </div>

      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /grey -->
</template>