<template name="home">
  <!-- +++++ Welcome Section +++++ -->
  <div id="ww">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="assets/img/user.png" alt="Stanley">
        <h1>Hi, I'm James!</h1>
        <p>Here's a simple theme for those wanting to showcase their work.</p>
        <p>Feel free to use this theme in any project, unconditionally. Share it with anyone you like!</p>
      
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /ww -->

  {{> work}}
</template>